// src/styles/_colors.scss
$gryffindor-red: #ae0001;
$gryffindor-gold: #eeba30;
$hufflepuff-yellow: #f0c75e;
$hufflepuff-black: #726255;
$ravenclaw-blue: #0e1a40;
$ravenclaw-bronze: #a45a2a;
$slytherin-green: #0d6259;
$slytherin-silver: #5d5d5d;
$white: #ffffff;
$black: #000000;
