@import "./colors.scss";

// src/styles/Header.module.scss
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $hufflepuff-yellow;
}

.logoContainer {
    display: flex;
    align-items: center;

    .companyName {
        margin-left: 1rem;
        color: $gryffindor-red;
        font-family: "Cinzel", serif;
    }
}

.nav {
    // Add styles for your navigation links here
}
