@import "./colors.scss";

.introduction {
    text-align: center;
    max-width: 900px;
    margin: 2rem auto;

    h1 {
        font-size: 2rem;
        color: $gryffindor-red;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.1rem;
        color: $black;
        text-align: justify;
        line-height: 1.5;
    }
}

.servicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 2em;
}
