// src/components/ConveyancingCalculator/ConveyancingCalculator.module.scss
@import "../styles/colors";

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    color: $white;

    h2 {
        font-size: 2rem;
        color: $slytherin-green;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        color: $black;
        margin-bottom: 1rem;
    }

    .inputWrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label {
            font-size: 1.2rem;
            color: $black;
            margin-bottom: 0.5rem;
        }

        input {
            padding: 0.5rem;
            font-size: 1.2rem;
            color: $black;
            border-radius: 4px;
            border: 2px solid $slytherin-green;
            transition: border-color 0.3s;

            &:focus {
                outline: none;
                border-color: $black;
            }
        }
    }

    .resultWrapper {
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 4px;
        background-color: $slytherin-green;

        p {
            font-size: 1.2rem;
            color: $white;
            margin-bottom: 1rem;

            &.breakdown {
                margin-top: 0;
            }
        }

        .fee {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.2rem;
            color: $white;
            padding: 0.5rem;

            &:nth-child(even) {
                background-color: lighten($slytherin-green, 5%);
            }

            &:last-child {
                margin-bottom: 0;
            }

            .feeName {
                flex-basis: 30%;
                padding-right: 0.5rem;
            }

            .feeAmount {
                flex-basis: 20%;
                text-align: right;
                padding-right: 0.5rem;
            }

            .feeDescription {
                flex-basis: 40%;
                text-align: right;
                font-size: 1rem;
                color: $white;
                padding-right: 1rem;
                text-align: left;
            }
        }

        .resultLabel {
            font-size: 1.2rem;
            color: $black;
            margin-right: 1rem;
        }

        .resultValue {
            font-size: 1.2rem;
            color: $black;
            font-weight: bold;
            margin-right: 1rem;
        }
    }

    .totalWrapper {
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 4px;
        background-color: $gryffindor-red;
        color: $white;

        &:last-child {
            font-size: 1.5rem;
            margin-top: 0.5rem;
            font-weight: bold;
        }

        &.totalLabel {
            color: $white;
            font-weight: bold;
            margin-right: 1rem;
            text-align: left;
            margin-bottom: 0;
        }

        &.totalValue {
            background-color: $white;
            color: $black;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 0.5rem;
            border-radius: 4px;
            text-align: right;
            margin-bottom: 0;
        }
    }
}
